<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--bean 的id属性不是必须，若没有写，会使用全限定名#{number} forExample pojo.Role#{0}-->

    <!--构造器注入-->
    <bean id="roleConstructInject" class="pojo.Role">
        <!--index代表构造器参数的顺序-->
        <constructor-arg index="0" value="1"/>
        <constructor-arg index="1" value="孙茂林"/>
    </bean>

    <!--setter注入-->
    <bean id="setterInject" class="pojo.Role">
        <property name="roleId" value="1"/>
        <property name="roleName" value="孙茂林"/>
        <property name="note" value="太帅"/>
    </bean>

    <!--接口注入-->
    <!--比如我们使用tomcat的context.xml的数据库连接资源-->
    <bean id="interfaceInject" class="org.springframework.jndi.JndiObjectFactoryBean" lazy-init="true">
        <property name="jndiName">
            <value>java:comp/env/jdbc/ssm</value>
        </property>
    </bean>

    <!--复杂类型属性装配    注释掉的为Bean引用-->
    <bean id="complexAssembly" class="pojo.ComplexAssembly">
        <property name="id" value="1"/>
        <property name="list">
            <list>
                <!--<ref bean=""/>-->
                <value>value-list-1</value>
                <value>value-list-2</value>
            </list>
        </property>
        <property name="map">
            <map>
                <!--<entry key="bean" value-ref=""/>-->
                <entry key="key1" value="value-key-1"/>
                <entry key="key2" value="value-key-2"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="prop1">value-prop-1</prop>
                <prop key="prop2">value-prop-2</prop>
            </props>
        </property>
        <property name="set">
            <set>
                <!--<ref bean=""/>-->
                <value>value-set-1</value>
                <value>value-set-2</value>
            </set>
        </property>
        <property name="array">
            <array>
                <value>value-array-1</value>
                <value>value-array-2</value>
            </array>
        </property>
    </bean>



</beans>